In [1]:
print("E aí, povo")

E aí, povo

In [5]:
import pandas as pd

df = pd.read_csv('\\Users\\bruno\\OneDrive\\Projeto XY\\Youtube\\Ao vivo\\Projeto Python\\Marvel_DC_imdb.csv', sep=',')
df

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
0,0,Eternals,(2021),"Action,Adventure,Drama",NaN,NaN,ChloéZhao,"AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...","The saga of the Eternals, a race of immortal b...",NaN,NaN,NaN,NaN,Marvel
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",NaN,NaN,NaN,"TomHiddleston,OwenWilson,SophiaDiMartino,Richa...",A new Marvel chapter with Loki at its center.,NaN,NaN,NaN,NaN,Marvel
2,2,The Falcon and the Winter Soldier,(2021),"Action,Adventure,Drama",50 min,TV-14,NaN,"AnthonyMackie,SebastianStan,WyattRussell,ErinK...","Following the events of 'Avengers: Endgame,' S...",7.5,NaN,"105,557",NaN,Marvel
3,3,WandaVision,(2021),"Action,Comedy,Drama",350 min,TV-PG,NaN,"ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...",Blends the style of classic sitcoms with the M...,8.1,NaN,"174,710",NaN,Marvel
4,4,Spider-Man: No Way Home,(2021),"Action,Adventure,Sci-Fi",NaN,NaN,JonWatts,"AngourieRice,TomHolland,Zendaya,MarisaTomei",A continuation of Spider-Man: Far From Home.,NaN,NaN,NaN,NaN,Marvel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1685,1685,DC's Legends of Tomorrow,(2016– ),"Action,Adventure,Drama",42 min,TV-14,GregorySmith,"BrandonRouth,CaityLotz,MaisieRichardson-Seller...","Worlds lived, worlds died. Nothing will ever b...",8.5,NaN,"2,050",NaN,DC
1686,1686,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,CarlSeaton,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...","In the wake of Lex Luthor's return, the show f...",8.3,NaN,"1,259",NaN,DC
1687,1687,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,AlexisOstrander,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Kara comes face to face with Red Daughter and ...,8.1,NaN,"1,053",NaN,DC
1688,1688,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,ShannonKohli,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Kara and Lena head to Kaznia to hunt down Lex....,7.4,NaN,"1,036",NaN,DC
1689,1689,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,BenHernandezBray,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Supergirl must deal with the destructive after...,7.5,NaN,"1,037",NaN,DC

In [6]:
df.head()

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
0,0,Eternals,(2021),"Action,Adventure,Drama",NaN,NaN,ChloéZhao,"AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...","The saga of the Eternals, a race of immortal b...",NaN,NaN,NaN,NaN,Marvel
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",NaN,NaN,NaN,"TomHiddleston,OwenWilson,SophiaDiMartino,Richa...",A new Marvel chapter with Loki at its center.,NaN,NaN,NaN,NaN,Marvel
2,2,The Falcon and the Winter Soldier,(2021),"Action,Adventure,Drama",50 min,TV-14,NaN,"AnthonyMackie,SebastianStan,WyattRussell,ErinK...","Following the events of 'Avengers: Endgame,' S...",7.5,NaN,"105,557",NaN,Marvel
3,3,WandaVision,(2021),"Action,Comedy,Drama",350 min,TV-PG,NaN,"ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...",Blends the style of classic sitcoms with the M...,8.1,NaN,"174,710",NaN,Marvel
4,4,Spider-Man: No Way Home,(2021),"Action,Adventure,Sci-Fi",NaN,NaN,JonWatts,"AngourieRice,TomHolland,Zendaya,MarisaTomei",A continuation of Spider-Man: Far From Home.,NaN,NaN,NaN,NaN,Marvel

In [7]:
df.tail()

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
1685,1685,DC's Legends of Tomorrow,(2016– ),"Action,Adventure,Drama",42 min,TV-14,GregorySmith,"BrandonRouth,CaityLotz,MaisieRichardson-Seller...","Worlds lived, worlds died. Nothing will ever b...",8.5,NaN,"2,050",NaN,DC
1686,1686,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,CarlSeaton,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...","In the wake of Lex Luthor's return, the show f...",8.3,NaN,"1,259",NaN,DC
1687,1687,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,AlexisOstrander,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Kara comes face to face with Red Daughter and ...,8.1,NaN,"1,053",NaN,DC
1688,1688,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,ShannonKohli,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Kara and Lena head to Kaznia to hunt down Lex....,7.4,NaN,"1,036",NaN,DC
1689,1689,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,BenHernandezBray,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Supergirl must deal with the destructive after...,7.5,NaN,"1,037",NaN,DC

In [10]:
a = 5
a = a * 2
print(a)

10

#### Lista

In [11]:
minha_lista = []
filmes = ['Avengers', 'Batman', 'Superman']
mix = [1, 'hello', 3.5, True]

In [16]:
filmes[-1]

'Superman'

In [17]:
filmes.append('Wonder Woman')

In [18]:
filmes

['Avengers', 'Batman', 'Superman', 'Wonder Woman']

In [19]:
filmes.insert(1, 'Spider-Man')

In [22]:
filmes

['Avengers', 'Spider-Man', 'Superman', 'Wonder Woman']

In [21]:
filmes.remove('Batman')

In [23]:
filmes

['Avengers', 'Spider-Man', 'Superman', 'Wonder Woman']

In [24]:
filmes.pop()

'Wonder Woman'

In [25]:
minha_tupla = (1, 2, 3)
mix_tupla = (1, 'hello', 3.5, True)

In [27]:
minha_tupla

(1, 2, 3)

In [32]:
print(minha_tupla[0])
print(mix_tupla[1])

1
hello

In [33]:
meu_dict = {}
filme_info = {'nome': 'Avengers', 'ano': 2012, 'nota': 8.1}

In [34]:
filme_info['nome'] # $

'Avengers'

In [35]:
filme_info['ano'] = 2019

In [36]:
filme_info

{'nome': 'Avengers', 'ano': 2019, 'nota': 8.1}

In [37]:
del filme_info['nota']

In [38]:
filme_info

{'nome': 'Avengers', 'ano': 2019}

In [39]:
# Criação de um conjunto vazio
meu_conjunto = set()

In [40]:
meu_conjunto

set()

In [42]:
# Conjunto com elementos
numeros = {1, 2, 3, 4}
numeros

{1, 2, 3, 4}

In [43]:
numeros.add(5)
numeros

{1, 2, 3, 4, 5}

In [44]:
numeros.remove(3)

In [45]:
numeros

{1, 2, 4, 5}

In [46]:
# Operações com conjuntos
A = {1, 2, 3}
B = {3, 4, 5}

In [48]:
uniao = A | B
uniao

{1, 2, 3, 4, 5}

In [49]:
intersecao = A & B
intersecao

{3}

In [50]:
diferenca = A - B
diferenca

{1, 2}

In [51]:
2+3

5

In [52]:
7-2

5

In [53]:
a = 2+3
b= 7-2
c = a * b
c

25

In [54]:
10/2

5.0

In [55]:
7/2

3.5

In [56]:
7//2

3

In [58]:
2**4

16

In [62]:
df.head()

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
0,0,Eternals,(2021),"Action,Adventure,Drama",NaN,NaN,ChloéZhao,"AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...","The saga of the Eternals, a race of immortal b...",NaN,NaN,NaN,NaN,Marvel
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",NaN,NaN,NaN,"TomHiddleston,OwenWilson,SophiaDiMartino,Richa...",A new Marvel chapter with Loki at its center.,NaN,NaN,NaN,NaN,Marvel
2,2,The Falcon and the Winter Soldier,(2021),"Action,Adventure,Drama",50 min,TV-14,NaN,"AnthonyMackie,SebastianStan,WyattRussell,ErinK...","Following the events of 'Avengers: Endgame,' S...",7.5,NaN,"105,557",NaN,Marvel
3,3,WandaVision,(2021),"Action,Comedy,Drama",350 min,TV-PG,NaN,"ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...",Blends the style of classic sitcoms with the M...,8.1,NaN,"174,710",NaN,Marvel
4,4,Spider-Man: No Way Home,(2021),"Action,Adventure,Sci-Fi",NaN,NaN,JonWatts,"AngourieRice,TomHolland,Zendaya,MarisaTomei",A continuation of Spider-Man: Far From Home.,NaN,NaN,NaN,NaN,Marvel

In [64]:
df['IMDB_Score'].describe()

count    1486.000000
mean        7.821467
std         0.918777
min         1.100000
25%         7.300000
50%         8.000000
75%         8.500000
max         9.600000
Name: IMDB_Score, dtype: float64

In [65]:
df['IMDB_Score'].sum()

11622.7

In [66]:
df.shape

(1690, 14)

In [67]:
df.shape[0]

1690

In [68]:
df['IMDB_Score'].sum()/df.shape[0]

6.877337278106509

In [69]:
df.head()

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
0,0,Eternals,(2021),"Action,Adventure,Drama",NaN,NaN,ChloéZhao,"AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...","The saga of the Eternals, a race of immortal b...",NaN,NaN,NaN,NaN,Marvel
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",NaN,NaN,NaN,"TomHiddleston,OwenWilson,SophiaDiMartino,Richa...",A new Marvel chapter with Loki at its center.,NaN,NaN,NaN,NaN,Marvel
2,2,The Falcon and the Winter Soldier,(2021),"Action,Adventure,Drama",50 min,TV-14,NaN,"AnthonyMackie,SebastianStan,WyattRussell,ErinK...","Following the events of 'Avengers: Endgame,' S...",7.5,NaN,"105,557",NaN,Marvel
3,3,WandaVision,(2021),"Action,Comedy,Drama",350 min,TV-PG,NaN,"ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...",Blends the style of classic sitcoms with the M...,8.1,NaN,"174,710",NaN,Marvel
4,4,Spider-Man: No Way Home,(2021),"Action,Adventure,Sci-Fi",NaN,NaN,JonWatts,"AngourieRice,TomHolland,Zendaya,MarisaTomei",A continuation of Spider-Man: Far From Home.,NaN,NaN,NaN,NaN,Marvel

In [73]:
df['IMDB_Score'].isnull().sum()

204

In [75]:
media_manual = df['IMDB_Score'].sum()/(df.shape[0] -df['IMDB_Score'].isnull().sum())

In [78]:
media = df['IMDB_Score'].mean()

In [79]:
media_manual == media

True

In [82]:
igual = (2 == 3)
igual

False

In [83]:
2 != 3

True

In [89]:
5 <= 3

False

In [90]:
e = (2 < 3) and (3 < 4)
ou = (2 < 3) or (3 > 4)
nao = not (2 < 3)

print(e, ou, nao)

True True False

In [92]:
df['Category'].unique()

array(['Marvel', 'DC'], dtype=object)

In [93]:
dc = df[df['Category'] == 'DC']
dc

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
389,389,Wonder Woman 1984,(2020),"Action,Adventure,Fantasy",151 min,PG-13,PattyJenkins,"GalGadot,ChrisPine,KristenWiig,PedroPascal",Diana must contend with a work colleague and b...,5.4,60.0,"207,191",$46.37M,DC
390,390,The Suicide Squad,(2021),"Action,Adventure,Comedy",NaN,R,JamesGunn,"MargotRobbie,IdrisElba,JohnCena,TaikaWaititi","Supervillains Harley Quinn, Bloodsport, Peacem...",NaN,NaN,NaN,NaN,DC
391,391,The Batman,(2022),"Action,Crime,Drama",NaN,NaN,MattReeves,"BarryKeoghan,RobertPattinson,ColinFarrell,Andy...",The plot is unknown.,NaN,NaN,NaN,NaN,DC
392,392,Joker,(2019),"Crime,Drama,Thriller",122 min,R,ToddPhillips,"JoaquinPhoenix,RobertDeNiro,ZazieBeetz,Frances...","In Gotham City, mentally troubled comedian Art...",8.4,59.0,"1,004,600",$335.45M,DC
393,393,Arrow,(2012–2020),"Action,Adventure,Crime",42 min,TV-14,NaN,"StephenAmell,KatieCassidy,DavidRamsey,SusannaT...",Spoiled billionaire playboy Oliver Queen is mi...,7.5,NaN,"411,938",NaN,DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1685,1685,DC's Legends of Tomorrow,(2016– ),"Action,Adventure,Drama",42 min,TV-14,GregorySmith,"BrandonRouth,CaityLotz,MaisieRichardson-Seller...","Worlds lived, worlds died. Nothing will ever b...",8.5,NaN,"2,050",NaN,DC
1686,1686,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,CarlSeaton,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...","In the wake of Lex Luthor's return, the show f...",8.3,NaN,"1,259",NaN,DC
1687,1687,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,AlexisOstrander,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Kara comes face to face with Red Daughter and ...,8.1,NaN,"1,053",NaN,DC
1688,1688,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,ShannonKohli,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Kara and Lena head to Kaznia to hunt down Lex....,7.4,NaN,"1,036",NaN,DC
1689,1689,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,TV-PG,BenHernandezBray,"MelissaBenoist,MehcadBrooks,ChylerLeigh,KatieM...",Supergirl must deal with the destructive after...,7.5,NaN,"1,037",NaN,DC

In [94]:
dc['Category'].unique()

array(['DC'], dtype=object)

In [95]:
dc_media = dc['IMDB_Score'].sum() / (dc.shape[0] - dc['IMDB_Score'].isnull().sum())
dc_media

7.894152046783625

In [98]:
marvel = df[df['Category'] == 'Marvel']
marvel_media = marvel['IMDB_Score'].sum() / (marvel.shape[0] - marvel['IMDB_Score'].isnull().sum())

In [99]:
print(marvel_media,dc_media)

7.520415224913495 7.894152046783625

In [110]:
if dc_media > marvel_media:
    print(f'A média da DC,{dc_media}, é matematicamente maior')

A média da DC,{dc_media}, é matematicamente maior

In [104]:
if dc_media < marvel_media:
    print("A média da Marvel é matematicamente maior")
else:
    print("A média da DC é matematicamente maior")

A média da DC é matematicamente maior

In [106]:
z = 2
if z > 10:
    print("z é maior que 10")
elif z > 5:
    print("z é maior que 5 e menor ou igual a 10")
else:
    print("z é menor ou igual a 5")

z é menor ou igual a 5

In [107]:
# for
filmes = ['Avengers', 'Batman', 'Superman']
for filme in filmes:
    print(filme)

Avengers
Batman
Superman

In [108]:
for i in range(5):
    print(i)

0
1
2
3
4

In [111]:
contador = 0 #1
while contador < 5:
    print(contador)
    contador += 1

0
1
2
3
4

In [112]:
def saudacao():
    print("Olá, mundo!")

saudacao()

Olá, mundo!

In [113]:
saudacao()

Olá, mundo!

In [114]:
def saudacao_nome(nome):
    print(f"Olá, {nome}!")

In [116]:
saudacao_nome("Bruno")

Olá, Bruno!

In [118]:
def soma(a,b):
    return a + b

In [119]:
soma(4,5)

9

In [135]:
def desempenho_do_filme(filme):
    tabela = df[(df['Movie'] == filme)]
    nota = tabela['IMDB_Score'].mean()

    if nota < 5:
        return "Ruim"
    elif 5<= nota < 7:
        return "Mediano"
    elif nota >=7:
        return "Bom"
    else:
        return "Erro"

In [137]:
desempenho_do_filme('The Falcon and the Winter Soldier	')

'Erro'

In [128]:
df.head()

,Unnamed: 0,Movie,Year,Genre,RunTime,Rating,Director,Actor,Description,IMDB_Score,Metascore,Votes,USA_Gross,Category
0,0,Eternals,(2021),"Action,Adventure,Drama",NaN,NaN,ChloéZhao,"AngelinaJolie,GemmaChan,RichardMadden,BarryKeo...","The saga of the Eternals, a race of immortal b...",NaN,NaN,NaN,NaN,Marvel
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",NaN,NaN,NaN,"TomHiddleston,OwenWilson,SophiaDiMartino,Richa...",A new Marvel chapter with Loki at its center.,NaN,NaN,NaN,NaN,Marvel
2,2,The Falcon and the Winter Soldier,(2021),"Action,Adventure,Drama",50 min,TV-14,NaN,"AnthonyMackie,SebastianStan,WyattRussell,ErinK...","Following the events of 'Avengers: Endgame,' S...",7.5,NaN,"105,557",NaN,Marvel
3,3,WandaVision,(2021),"Action,Comedy,Drama",350 min,TV-PG,NaN,"ElizabethOlsen,PaulBettany,KathrynHahn,Teyonah...",Blends the style of classic sitcoms with the M...,8.1,NaN,"174,710",NaN,Marvel
4,4,Spider-Man: No Way Home,(2021),"Action,Adventure,Sci-Fi",NaN,NaN,JonWatts,"AngourieRice,TomHolland,Zendaya,MarisaTomei",A continuation of Spider-Man: Far From Home.,NaN,NaN,NaN,NaN,Marvel

In [130]:
desempenho_do_filme('The Falcon and the Winter Soldier')

In [138]:

#Escreva um programa que peça a idade do usuário e exiba uma mensagem dizendo se ele é menor de idade, 
#maior de idade ou idoso (considerando 60 anos como idade para ser idoso).

def idade(i):
    if i < 18:
        return "Menor de idade"
    elif i >= 18 and i < 60:
        return "Adulto"
    elif i >= 60:
        return'Idoso'
    else: 
        return "erro"

In [142]:
idade(17)

'Menor de idade'

In [ ]:
pontos = 0

# Tarefa 1: Importar bibliotecas (10 pontos)
try:
    #importe sua biblioteca
    pontos += 10
except:
    print("Erro ao importar bibliotecas")

# Tarefa 2: Carregar dados (10 pontos)
try:
    #carregue seus dados
    pontos += 10
except:
    print("Erro ao carregar dados")

# Tarefa 3: Função de categoria do filme (10 pontos), crie uma função que nota menor que 5 = ruim; entre 5 e 7, mediana; maior que 7, boa;
try:

    #nota_filme = 7.5  # Testando a função
    #print(categoria_filme(nota_filme))
    pontos += 10
except:
    print("Erro ao definir função")

# Tarefa 4: Média das notas IMDb dos filmes (10 pontos)
try:
    ### adicione a média
    pontos += 10
except:
    print("Erro ao calcular média")

print(f"Você acumulou {pontos} pontos nesta aula!")

In [2]:
import pyodbc
import pandas as pd

server = 'Legion\SQLEXPRESS'
database = 'AulaPython'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database)#+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

query = "SELECT * FROM Estudantes"
df_sql = pd.read_sql(query,cnxn )

C:\Users\bruno\AppData\Local\Temp\ipykernel_12016\1644937831.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sql = pd.read_sql(query,cnxn )

In [3]:
df_sql.head()

   ID    Nome  Idade  Nota
0   1     Ana     22   8.5
1   2   Bruno     24   7.8
2   3   Carla     23   9.1
3   4  Daniel     21   6.9

In [4]:
df_excel = pd.read_excel('\\Users\\bruno\\OneDrive\\Projeto XY\\Youtube\\Ao vivo\\Projeto Python\\Hospital.xlsx')
df_excel

,UNIDADE,Prontuário,PROCEDIMENTO,TIPO,CONVÊNIO,CRM,DATA,R$,QTD
0,4,123917,CONSULTA,2,60,28292,2017-01-10,179.2,2
1,1,30738,CONSULTA,2,40,15708,2020-05-12,75.0,1
2,4,3893,CONSULTA,2,24,38602,2017-10-20,75.0,1
3,2,115589,CONSULTA,2,52,15158,2019-04-24,164.0,2
4,4,24800,CONSULTA,2,10,34478,2023-02-26,175.0,2
...,...,...,...,...,...,...,...,...,...
138250,1,58018,CIRURGIA,2,81,30911,2021-10-21,1050.0,1
138251,5,71270,CIRURGIA,2,36,47845,2022-09-01,1050.0,1
138252,2,20881,CIRURGIA,2,48,28292,2019-12-13,1050.0,1
138253,5,112644,CIRURGIA,2,72,20456,2022-11-12,1050.0,1
138254,3,46142,CIRURGIA,2,43,13644,2022-04-25,1050.0,1

In [5]:
df_empresa = pd.read_excel('\\Users\\bruno\\OneDrive\\Projeto XY\\Youtube\\Ao vivo\\Projeto Python\\Hospital.xlsx', sheet_name = 'Empresa')
df_empresa

   Cod_unidade   Unidade            Estado Sigla        Região
0            3  Filial 2  Distrito Federal    DF  Centro-Oeste
1            2  Filial 1      Minas Gerais    MG      Sudoeste
2            1    Matriz           Sergipe    SE      Nordeste
3            4  Filial 3         São Paulo    SP      Sudoeste
4            5  Filial 4        Pernambuco    PE      Nordeste

In [6]:
df_completo = df_excel.merge(df_empresa, left_on='UNIDADE', right_on='Cod_unidade', how='inner')
df_completo.head()

,UNIDADE,Prontuário,PROCEDIMENTO,TIPO,CONVÊNIO,CRM,DATA,R$,QTD,Cod_unidade,Unidade,Estado,Sigla,Região
0,4,123917,CONSULTA,2,60,28292,2017-01-10,179.2,2,4,Filial 3,São Paulo,SP,Sudoeste
1,4,3893,CONSULTA,2,24,38602,2017-10-20,75.0,1,4,Filial 3,São Paulo,SP,Sudoeste
2,4,24800,CONSULTA,2,10,34478,2023-02-26,175.0,2,4,Filial 3,São Paulo,SP,Sudoeste
3,4,93532,CONSULTA,2,17,35999,2019-03-08,300.0,4,4,Filial 3,São Paulo,SP,Sudoeste
4,4,17455,CONSULTA,2,38,16135,2017-04-16,300.0,4,4,Filial 3,São Paulo,SP,Sudoeste

In [10]:
df_completo['Estado'].unique()

array(['São Paulo', 'Sergipe', 'Minas Gerais', 'Distrito Federal',
       'Pernambuco'], dtype=object)

In [12]:
df_completo.columns

Index(['UNIDADE', 'Prontuário', ' PROCEDIMENTO ', ' TIPO', ' CONVÊNIO ',
       ' CRM ', ' DATA ', ' R$ ', ' QTD ', 'Cod_unidade', 'Unidade', 'Estado',
       'Sigla', 'Região'],
      dtype='object')

In [13]:
df_completo.groupby('Região')[" QTD "].sum()

Região
Centro-Oeste     76789
Nordeste        152214
Sudoeste        154021
Name:  QTD , dtype: int64

In [14]:
df_completo.groupby('Região')[" R$ "].sum()

Região
Centro-Oeste    2.126892e+07
Nordeste        4.187501e+07
Sudoeste        4.254801e+07
Name:  R$ , dtype: float64

In [15]:
import requests
from bs4 import BeautifulSoup

url_paises = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages"

# Fazer a requisição HTTP e ler o conteúdo da página
response_paises = requests.get(url_paises)
pagina_paises = BeautifulSoup(response_paises.content, 'html.parser')

tabela_paises = pagina_paises.find("table", {"class": "wikitable"})
df_paises = pd.read_html(str(tabela_paises))[0]

In [18]:
df_paises.head()

,Country (exonym),Capital (exonym),Country (endonym),Capital (endonym),Official or native language(s) (alphabet/script)
0,Afghanistan,Kabul,Afġānistān افغانستان,Kabul كابل,Pashto/Dari (Arabic script)
1,Albania,Tirana,Shqipëria,Tirana,Albanian
2,Algeria,Algiers,Dzayer ⴷⵣⴰⵢⴻⵔ Al-Jazā'ir الجزائر,Dzayer ⴷⵣⴰⵢⴻⵔ Al-Jazā'ir الجزائر,Berber language (Tifinagh script) Arabic (Arab...
3,American Samoa[1],Pago Pago,Amerika Sāmoa American Samoa,Pago Pago Pago Pago,Samoan English
4,Andorra,Andorra la Vella,Andorra,Andorra la Vella,Catalan

In [19]:
url_futebol = "https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/"

response_futebol = requests.get(url_futebol)
pagina_futebol = BeautifulSoup(response_futebol.content, 'html.parser')

# Extrair a tabela de futebol
tabela_futebol = pagina_futebol.find("table")
df_futebol = pd.read_html(str(tabela_futebol))[0]

In [20]:
df_futebol

,Times,Times.1,Times.2,Times.3,P,J,V,E,D,GP,GC,SG,%
0,1,NaN,Flamengo >>,Subiu1,21,10,6,3,1,18,9,9,70
1,2,NaN,Botafogo >>,Desceu1,20,10,6,2,2,17,9,8,66
2,3,NaN,Palmeiras >>,Subiu2,20,10,6,2,2,13,5,8,66
3,4,NaN,Athletico-PR >>,NaN,18,10,5,3,2,14,7,7,60
4,5,NaN,Bahia >>,Desceu2,18,10,5,3,2,14,11,3,60
5,6,NaN,Cruzeiro >>,Subiu2,17,9,5,2,2,12,10,2,62
6,7,NaN,São Paulo >>,Desceu1,15,10,4,3,3,14,9,5,50
7,8,NaN,Bragantino >>,Desceu1,15,10,4,3,3,13,11,2,50
8,9,NaN,Internacional >>,Subiu1,14,8,4,2,2,7,5,2,58
9,10,NaN,Atlético-MG >>,Desceu1,13,9,3,4,2,14,13,1,48
10,11,NaN,Juventude >>,NaN,13,9,3,4,2,11,11,0,48
11,12,NaN,Fortaleza >>,NaN,13,9,3,4,2,7,10,-3,48
12,13,NaN,Cuiabá >>,Subiu1,10,10,3,1,6,12,15,-3,33
13,14,NaN,Criciúma >>,Subiu4,9,8,2,3,3,14,15,-1,37
14,15,NaN,Vitória >>,Subiu5,9,10,2,3,5,12,17,-5,30
15,16,NaN,Atlético Goianiense >>,Desceu3,8,10,2,2,6,9,14,-5,26
16,17,NaN,Vasco da Gama >>,Desceu2,7,10,2,1,7,7,21,-14,23
17,18,NaN,Corinthians >>,Desceu2,7,10,1,4,5,7,11,-4,23
18,19,NaN,Grêmio >>,Desceu2,6,8,2,0,6,6,10,-4,25
19,20,NaN,Fluminense >>,Desceu1,6,10,1,3,6,10,18,-8,20

In [23]:
df_futebol.drop(columns=['Times.1','Times.3'], inplace=True)

In [24]:
df_futebol

    Times                 Times.2   P   J  V  E  D  GP  GC  SG   %
0       1             Flamengo >>  21  10  6  3  1  18   9   9  70
1       2             Botafogo >>  20  10  6  2  2  17   9   8  66
2       3            Palmeiras >>  20  10  6  2  2  13   5   8  66
3       4         Athletico-PR >>  18  10  5  3  2  14   7   7  60
4       5                Bahia >>  18  10  5  3  2  14  11   3  60
5       6             Cruzeiro >>  17   9  5  2  2  12  10   2  62
6       7            São Paulo >>  15  10  4  3  3  14   9   5  50
7       8           Bragantino >>  15  10  4  3  3  13  11   2  50
8       9        Internacional >>  14   8  4  2  2   7   5   2  58
9      10          Atlético-MG >>  13   9  3  4  2  14  13   1  48
10     11            Juventude >>  13   9  3  4  2  11  11   0  48
11     12            Fortaleza >>  13   9  3  4  2   7  10  -3  48
12     13               Cuiabá >>  10  10  3  1  6  12  15  -3  33
13     14             Criciúma >>   9   8  2  3  3  14  15  -1  37
14     15              Vitória >>   9  10  2  3  5  12  17  -5  30
15     16  Atlético Goianiense >>   8  10  2  2  6   9  14  -5  26
16     17        Vasco da Gama >>   7  10  2  1  7   7  21 -14  23
17     18          Corinthians >>   7  10  1  4  5   7  11  -4  23
18     19               Grêmio >>   6   8  2  0  6   6  10  -4  25
19     20           Fluminense >>   6  10  1  3  6  10  18  -8  20

In [25]:
df_futebol = df_futebol.applymap(lambda x: x.replace('>>', '') if isinstance(x, str) else x)
df_futebol

    Times               Times.2   P   J  V  E  D  GP  GC  SG   %
0       1             Flamengo   21  10  6  3  1  18   9   9  70
1       2             Botafogo   20  10  6  2  2  17   9   8  66
2       3            Palmeiras   20  10  6  2  2  13   5   8  66
3       4         Athletico-PR   18  10  5  3  2  14   7   7  60
4       5                Bahia   18  10  5  3  2  14  11   3  60
5       6             Cruzeiro   17   9  5  2  2  12  10   2  62
6       7            São Paulo   15  10  4  3  3  14   9   5  50
7       8           Bragantino   15  10  4  3  3  13  11   2  50
8       9        Internacional   14   8  4  2  2   7   5   2  58
9      10          Atlético-MG   13   9  3  4  2  14  13   1  48
10     11            Juventude   13   9  3  4  2  11  11   0  48
11     12            Fortaleza   13   9  3  4  2   7  10  -3  48
12     13               Cuiabá   10  10  3  1  6  12  15  -3  33
13     14             Criciúma    9   8  2  3  3  14  15  -1  37
14     15              Vitória    9  10  2  3  5  12  17  -5  30
15     16  Atlético Goianiense    8  10  2  2  6   9  14  -5  26
16     17        Vasco da Gama    7  10  2  1  7   7  21 -14  23
17     18          Corinthians    7  10  1  4  5   7  11  -4  23
18     19               Grêmio    6   8  2  0  6   6  10  -4  25
19     20           Fluminense    6  10  1  3  6  10  18  -8  20

In [26]:
df_futebol.rename(columns={'Times':'Posição',
                           'Times.2':'Time'}, inplace= True )

In [27]:
df_futebol

    Posição                  Time   P   J  V  E  D  GP  GC  SG   %
0         1             Flamengo   21  10  6  3  1  18   9   9  70
1         2             Botafogo   20  10  6  2  2  17   9   8  66
2         3            Palmeiras   20  10  6  2  2  13   5   8  66
3         4         Athletico-PR   18  10  5  3  2  14   7   7  60
4         5                Bahia   18  10  5  3  2  14  11   3  60
5         6             Cruzeiro   17   9  5  2  2  12  10   2  62
6         7            São Paulo   15  10  4  3  3  14   9   5  50
7         8           Bragantino   15  10  4  3  3  13  11   2  50
8         9        Internacional   14   8  4  2  2   7   5   2  58
9        10          Atlético-MG   13   9  3  4  2  14  13   1  48
10       11            Juventude   13   9  3  4  2  11  11   0  48
11       12            Fortaleza   13   9  3  4  2   7  10  -3  48
12       13               Cuiabá   10  10  3  1  6  12  15  -3  33
13       14             Criciúma    9   8  2  3  3  14  15  -1  37
14       15              Vitória    9  10  2  3  5  12  17  -5  30
15       16  Atlético Goianiense    8  10  2  2  6   9  14  -5  26
16       17        Vasco da Gama    7  10  2  1  7   7  21 -14  23
17       18          Corinthians    7  10  1  4  5   7  11  -4  23
18       19               Grêmio    6   8  2  0  6   6  10  -4  25
19       20           Fluminense    6  10  1  3  6  10  18  -8  20

In [28]:

df_universidades = pd.read_csv('C:\\Users\\bruno\\OneDrive\\Projeto XY\\Youtube\\Ao vivo\\Projeto Python\\qs-world-rankings-2025.csv')
df_universidades

,2025 Rank,2024 Rank,Institution Name,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,100.0,100.0,100.0,100.0,99.3,86.8,96.0,100.0,99.0,100
1,2,6,Imperial College London,UK,United Kingdom,L,98.5,99.5,98.2,93.9,100.0,99.6,97.4,93.4,99.7,98.5
2,3,3,University of Oxford,UK,United Kingdom,L,100.0,100.0,100.0,84.8,98.1,97.7,100.0,100.0,85.0,96.9
3,4,4,Harvard University,US,United States,L,100.0,100.0,96.3,100.0,74.1,69.0,99.6,100.0,84.4,96.8
4,5,2,University of Cambridge,UK,United Kingdom,L,100.0,100.0,100.0,84.6,100.0,94.8,99.3,100.0,84.8,96.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,1401+,1201-1400,University of Montana Missoula,US,United States,M,3.0,2.2,10.6,6.1,1.3,1.9,6.5,3.1,1.0,-
1499,1401+,1401+,University of Oradea,RO,Romania,L,5.6,2.2,4.0,1.9,1.5,5.2,34.5,6.2,2.3,-
1500,1401+,1201-1400,University of San Carlos,PH,Philippines,M,7.2,9.4,3.3,1.8,2.1,2.1,6.4,9.6,1.0,-
1501,1401+,1401+,"University Politehnica of Timisoara, UPT",RO,Romania,L,4.1,4.2,7.2,3.9,1.4,2.5,18.6,3.9,1.1,-
1502,1401+,1401+,Western Washington University,US,United States,L,2.6,2.6,7.3,3.5,9.7,1.6,12.4,1.5,1.1,-

In [29]:
# Filtrando universidades dos Brasil
df_br = df_universidades[df_universidades['Location'] == 'BR']
df_br.head()

,2025 Rank,2024 Rank,Institution Name,Location,Location Full,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
91,92,85,Universidade de São Paulo,BR,Brazil,XL,92.8,74.6,21.4,28.5,6.8,2.1,95.9,97.9,93.6,61.6
231,232,220,Universidade Estadual de Campinas (Unicamp),BR,Brazil,XL,71.8,40.3,14.7,24.3,10.7,2.7,85.4,25.1,65.9,42.9
304,304,371,Universidade Federal do Rio de Janeiro,BR,Brazil,XL,61.9,23.3,13.7,7.8,7.6,1.5,79.7,81.4,59.6,35.8
492,489,419,UNESP,BR,Brazil,XL,41.1,25.8,13.0,16.2,5.9,2.7,70.9,1.5,14.5,24.5
617,611-620,595,Pontifícia Universidade Católica do Rio de Jan...,BR,Brazil,M,32.4,16.2,10.8,7.5,12.6,1.6,44.5,68.0,5.4,-

In [30]:
df_br.drop(columns=['Location','Location Full'], inplace= True)
df_br.head()

C:\Users\bruno\AppData\Local\Temp\ipykernel_12016\3563516490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_br.drop(columns=['Location','Location Full'], inplace= True)

,2025 Rank,2024 Rank,Institution Name,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score
91,92,85,Universidade de São Paulo,XL,92.8,74.6,21.4,28.5,6.8,2.1,95.9,97.9,93.6,61.6
231,232,220,Universidade Estadual de Campinas (Unicamp),XL,71.8,40.3,14.7,24.3,10.7,2.7,85.4,25.1,65.9,42.9
304,304,371,Universidade Federal do Rio de Janeiro,XL,61.9,23.3,13.7,7.8,7.6,1.5,79.7,81.4,59.6,35.8
492,489,419,UNESP,XL,41.1,25.8,13.0,16.2,5.9,2.7,70.9,1.5,14.5,24.5
617,611-620,595,Pontifícia Universidade Católica do Rio de Jan...,M,32.4,16.2,10.8,7.5,12.6,1.6,44.5,68.0,5.4,-

In [31]:
df_br.describe()

,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability
count,35.000000,35.000000,35.000000,35.000000,30.000000,31.000000,35.000000,35.000000,35.000000
mean,16.328571,8.571429,16.071429,6.462857,4.283333,1.641935,41.434286,16.614286,12.982857
std,21.117564,14.173351,15.566906,6.241139,3.027014,0.913519,24.529226,24.088185,22.518992
min,2.900000,1.200000,1.900000,1.200000,1.300000,1.100000,1.800000,1.300000,1.000000
25%,4.100000,2.200000,8.300000,2.950000,2.250000,1.200000,25.150000,1.650000,1.150000
50%,7.400000,3.800000,13.000000,4.200000,2.750000,1.400000,40.800000,3.900000,2.000000
75%,16.150000,7.150000,16.450000,7.650000,5.700000,1.600000,54.550000,21.650000,12.300000
max,92.800000,74.600000,95.600000,28.500000,12.600000,6.000000,95.900000,97.900000,93.600000

In [32]:
df_br.iloc[:,4:13]

,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability
91,92.8,74.6,21.4,28.5,6.8,2.1,95.9,97.9,93.6
231,71.8,40.3,14.7,24.3,10.7,2.7,85.4,25.1,65.9
304,61.9,23.3,13.7,7.8,7.6,1.5,79.7,81.4,59.6
492,41.1,25.8,13.0,16.2,5.9,2.7,70.9,1.5,14.5
617,32.4,16.2,10.8,7.5,12.6,1.6,44.5,68.0,5.4
679,32.4,8.9,13.8,7.0,8.0,1.5,64.0,39.7,6.7
697,10.5,5.1,95.6,6.0,4.7,1.5,54.0,2.9,30.1
698,28.0,5.3,12.8,10.1,2.2,1.6,80.1,25.9,31.3
757,25.3,7.9,7.1,4.2,10.8,1.5,67.5,29.6,35.1
788,19.3,4.8,19.2,8.5,4.1,2.2,62.1,17.3,52.1
1077,10.1,14.8,37.6,1.2,3.8,1.2,1.8,34.1,1.0
1138,11.6,2.4,15.5,4.1,1.5,1.2,55.1,3.7,1.2
1139,11.8,6.4,15.5,17.8,2.6,1.6,45.5,1.8,2.7
1140,13.0,5.8,20.1,5.2,2.9,6.0,52.6,9.6,2.0
1141,9.6,2.5,12.8,3.6,6.3,1.2,52.2,10.9,13.1
1278,6.3,3.9,12.3,9.4,2.6,1.7,30.5,9.2,1.1
1344,9.5,5.1,17.4,2.5,3.5,1.2,35.7,18.2,1.3
1345,9.0,2.7,8.5,3.1,5.1,1.4,48.8,12.4,2.5
1346,3.8,2.0,30.3,2.8,NaN,NaN,35.2,1.3,1.0
1347,4.7,1.3,26.0,4.7,NaN,1.3,21.7,1.3,1.3
1348,6.4,1.5,17.5,5.2,2.5,1.4,37.9,6.3,11.5
1349,5.1,2.4,10.9,7.8,2.4,1.9,20.2,3.8,1.3
1350,7.4,2.8,6.3,5.3,1.3,1.2,43.4,3.7,2.0
1351,5.2,1.2,9.5,3.4,NaN,NaN,45.0,1.3,1.4
1352,3.5,8.7,12.3,2.1,2.4,1.1,12.5,48.3,1.0
1425,4.9,4.6,1.9,1.5,1.9,1.1,8.3,9.4,1.0
1426,4.2,3.8,7.0,2.0,1.8,1.2,2.3,1.9,1.0
1427,4.1,2.9,7.6,3.9,1.8,1.3,28.9,3.9,1.4
1483,3.7,1.3,15.4,1.7,NaN,NaN,9.0,2.2,1.0
1484,3.9,2.5,13.7,3.3,2.1,1.3,13.4,1.3,2.8
1485,4.1,2.5,7.3,3.1,2.5,1.1,40.8,1.3,1.1
1486,3.8,1.3,6.8,4.2,3.5,1.2,32.7,1.3,1.3
1487,3.8,1.7,13.8,3.5,2.1,1.3,28.6,2.2,3.2
1488,2.9,2.0,8.1,2.1,NaN,NaN,8.6,1.5,1.0
1489,3.6,1.7,6.3,2.6,2.5,1.1,35.4,1.3,1.9

In [33]:
df_br.iloc[:,4:13].mean()

Academic Reputation               16.328571
Employer Reputation                8.571429
Faculty Student                   16.071429
Citations per Faculty              6.462857
International Faculty              4.283333
International Students             1.641935
International Research Network    41.434286
Employment Outcomes               16.614286
Sustainability                    12.982857
dtype: float64

In [34]:
df_br.iloc[:,4:13].mean(axis = 1)

91      57.066667
231     37.877778
304     37.388889
492     21.288889
617     22.111111
679     20.222222
697     23.377778
698     21.922222
757     21.000000
788     21.066667
1077    11.733333
1138    10.700000
1139    11.744444
1140    13.022222
1141    12.466667
1278     8.555556
1344    10.488889
1345    10.388889
1346    10.914286
1347     7.787500
1348    10.022222
1349     6.200000
1350     8.155556
1351     9.571429
1352    10.211111
1425     3.844444
1426     2.800000
1427     6.200000
1483     4.900000
1484     4.922222
1485     7.088889
1486     6.233333
1487     6.688889
1488     3.742857
1489     6.266667
dtype: float64

In [35]:
df_br['Média'] = df_br.iloc[:,4:13].mean(axis = 1)

C:\Users\bruno\AppData\Local\Temp\ipykernel_12016\2851502933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_br['Média'] = df_br.iloc[:,4:13].mean(axis = 1)

In [37]:
df_br.head()

,2025 Rank,2024 Rank,Institution Name,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score,Média
91,92,85,Universidade de São Paulo,XL,92.8,74.6,21.4,28.5,6.8,2.1,95.9,97.9,93.6,61.6,57.066667
231,232,220,Universidade Estadual de Campinas (Unicamp),XL,71.8,40.3,14.7,24.3,10.7,2.7,85.4,25.1,65.9,42.9,37.877778
304,304,371,Universidade Federal do Rio de Janeiro,XL,61.9,23.3,13.7,7.8,7.6,1.5,79.7,81.4,59.6,35.8,37.388889
492,489,419,UNESP,XL,41.1,25.8,13.0,16.2,5.9,2.7,70.9,1.5,14.5,24.5,21.288889
617,611-620,595,Pontifícia Universidade Católica do Rio de Jan...,M,32.4,16.2,10.8,7.5,12.6,1.6,44.5,68.0,5.4,-,22.111111

In [38]:
df_br.isnull().sum()

2025 Rank                         0
2024 Rank                         0
Institution Name                  0
Size                              0
Academic Reputation               0
Employer Reputation               0
Faculty Student                   0
Citations per Faculty             0
International Faculty             5
International Students            4
International Research Network    0
Employment Outcomes               0
Sustainability                    0
QS Overall Score                  0
Média                             0
dtype: int64

In [40]:
df_br.dropna()

,2025 Rank,2024 Rank,Institution Name,Size,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students,International Research Network,Employment Outcomes,Sustainability,QS Overall Score,Média
91,92,85,Universidade de São Paulo,XL,92.8,74.6,21.4,28.5,6.8,2.1,95.9,97.9,93.6,61.6,57.066667
231,232,220,Universidade Estadual de Campinas (Unicamp),XL,71.8,40.3,14.7,24.3,10.7,2.7,85.4,25.1,65.9,42.9,37.877778
304,304,371,Universidade Federal do Rio de Janeiro,XL,61.9,23.3,13.7,7.8,7.6,1.5,79.7,81.4,59.6,35.8,37.388889
492,489,419,UNESP,XL,41.1,25.8,13.0,16.2,5.9,2.7,70.9,1.5,14.5,24.5,21.288889
617,611-620,595,Pontifícia Universidade Católica do Rio de Jan...,M,32.4,16.2,10.8,7.5,12.6,1.6,44.5,68.0,5.4,-,22.111111
679,671-680,691-700,Universidade Federal de Minas Gerais,XL,32.4,8.9,13.8,7.0,8.0,1.5,64.0,39.7,6.7,-,20.222222
697,691-700,731-740,Universidade Federal de São Paulo,L,10.5,5.1,95.6,6.0,4.7,1.5,54.0,2.9,30.1,-,23.377778
698,691-700,691-700,Universidade Federal do Rio Grande Do Sul,XL,28.0,5.3,12.8,10.1,2.2,1.6,80.1,25.9,31.3,-,21.922222
757,751-760,801-850,Universidade de Brasília,XL,25.3,7.9,7.1,4.2,10.8,1.5,67.5,29.6,35.1,-,21.000000
788,781-790,801-850,Universidade Federal de Santa Catarina,XL,19.3,4.8,19.2,8.5,4.1,2.2,62.1,17.3,52.1,-,21.066667
1077,1001-1200,1001-1200,Pontifícia Universidade Católica de São Paulo,M,10.1,14.8,37.6,1.2,3.8,1.2,1.8,34.1,1.0,-,11.733333
1138,1001-1200,1001-1200,Universidade Federal de Pernambuco (UFPE),XL,11.6,2.4,15.5,4.1,1.5,1.2,55.1,3.7,1.2,-,10.700000
1139,1001-1200,1001-1200,Universidade Federal de São Carlos (UFSCar),L,11.8,6.4,15.5,17.8,2.6,1.6,45.5,1.8,2.7,-,11.744444
1140,1001-1200,1001-1200,Universidade Federal do Paraná - UFPR,XL,13.0,5.8,20.1,5.2,2.9,6.0,52.6,9.6,2.0,-,13.022222
1141,1001-1200,1201-1400,Universidade Federal Fluminense,XL,9.6,2.5,12.8,3.6,6.3,1.2,52.2,10.9,13.1,-,12.466667
1278,1201-1400,1201-1400,Pontifícia Universidade Católica do Rio Grande...,M,6.3,3.9,12.3,9.4,2.6,1.7,30.5,9.2,1.1,-,8.555556
1344,1201-1400,1201-1400,Universidade do Estado do Rio de Janeiro (UERJ),XL,9.5,5.1,17.4,2.5,3.5,1.2,35.7,18.2,1.3,-,10.488889
1345,1201-1400,1201-1400,Universidade Federal da Bahia,XL,9.0,2.7,8.5,3.1,5.1,1.4,48.8,12.4,2.5,-,10.388889
1348,1201-1400,1201-1400,Universidade Federal de Santa Maria,L,6.4,1.5,17.5,5.2,2.5,1.4,37.9,6.3,11.5,-,10.022222
1349,1201-1400,1201-1400,Universidade Federal de Viçosa (UFV),L,5.1,2.4,10.9,7.8,2.4,1.9,20.2,3.8,1.3,-,6.200000
1350,1201-1400,1201-1400,Universidade Federal do Ceará (UFC),XL,7.4,2.8,6.3,5.3,1.3,1.2,43.4,3.7,2.0,-,8.155556
1352,1201-1400,1201-1400,Universidade Presbiteriana Mackenzie,M,3.5,8.7,12.3,2.1,2.4,1.1,12.5,48.3,1.0,-,10.211111
1425,1401+,1401+,Pontifícia Universidade Católica de Minas Gera...,XL,4.9,4.6,1.9,1.5,1.9,1.1,8.3,9.4,1.0,-,3.844444
1426,1401+,1401+,Pontificia Universidade Católica do Campinas -...,M,4.2,3.8,7.0,2.0,1.8,1.2,2.3,1.9,1.0,-,2.800000
1427,1401+,1401+,Pontifícia Universidade Católica do Paraná,M,4.1,2.9,7.6,3.9,1.8,1.3,28.9,3.9,1.4,-,6.200000
1484,1401+,1401+,Universidade Estadual de Londrina,L,3.9,2.5,13.7,3.3,2.1,1.3,13.4,1.3,2.8,-,4.922222
1485,1401+,1401+,Universidade Federal da Paraíba,XL,4.1,2.5,7.3,3.1,2.5,1.1,40.8,1.3,1.1,-,7.088889
1486,1401+,1401+,Universidade Federal de Goiás,XL,3.8,1.3,6.8,4.2,3.5,1.2,32.7,1.3,1.3,-,6.233333
1487,1401+,1401+,Universidade Federal de Uberlândia,L,3.8,1.7,13.8,3.5,2.1,1.3,28.6,2.2,3.2,-,6.688889
1489,1401+,1401+,Universidade Federal do Parà - UFPA,XL,3.6,1.7,6.3,2.6,2.5,1.1,35.4,1.3,1.9,-,6.266667

In [41]:
df_br['International Faculty'].mean()

4.283333333333333

In [42]:
df_br_substituindo_na = df_br.copy()
df_br_substituindo_na['International Faculty'] = df_br['International Faculty'].fillna(df_br['International Faculty'].mean())
df_br_substituindo_na.isnull().sum()

2025 Rank                         0
2024 Rank                         0
Institution Name                  0
Size                              0
Academic Reputation               0
Employer Reputation               0
Faculty Student                   0
Citations per Faculty             0
International Faculty             0
International Students            4
International Research Network    0
Employment Outcomes               0
Sustainability                    0
QS Overall Score                  0
Média                             0
dtype: int64